<div class="container">
    <h1>Search Form</h1>

    <form action="/search" method="get">
        <input type="text" name="search" id="search" class="search-text" placeholder="search term" length="100">
        <button type="submit">Submit</button>

    </form>

</div>