<div class="container">
    <h1>Search Form</h1>

    <form action="/search" method="get">
        <label for="q">Search String</label>
        <input type="text" name="q" id="q" class="search-text" placeholder="Enter the app name" size="100" required>
        <button type="submit">Submit</button>
    </form>

</div>
